[MASTER]
disable=
    C0114, # missing-module-docstring
    #C0115, #(missing-class-docstring)
    #C0116, #(missing-function-docstring)
    C0301, #(missing-line-toolong)
    C0103, #(Class constant name to UPPER_CASE naming style)
    R0903, #( Too few public methods )
    E1101, # Instance of 'MongoEngine'
    W0703, # Catching too general exception Exception (broad-except)
    R0911, #Too many return statements
    E0401,
    #should remove
    R0201, #Method could be a function (no-self-use)
    W0238, #Unused private member `Required.__data` (unused-private-member)